/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-header:#FF6900;
    --discount:#FF0000;
    --sustainability:#008000;
    --bg-footer:#1A1A1A;
    --light-text:#FFFFFF;
    --dark-text:#000000;
    --text-price:#FF0000;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
}

ul{
    list-style: none;
}



{

}